*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 900;
}

#wrapper, header, header > div{
    width:100%;
}

#wrapper, header > div{
    margin:0 auto;
    max-width:900px;
}

header{
    height:90px;
    background:#19456b;
    color:#fff;
}

header > div{
    display: flex;
    height: 90px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* TODO: PROVISÓRIO, TIRAR*/
}

header > div > img{
    height:66px;
    margin-right:20px;
}

.title > h1{
    font-size:2.2em;
}

.title > span{
    display: block;
    font-size:1em;
    margin-top:-6px;
}